<div class="page">
  <!-- header -->
  <div class="page-header">
    <nav class="menu">
      <ul>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/page1']">Page1</a></li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/page2']">Page2</a></li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/join']">Join</a></li>
      </ul>
    </nav>
  </div>
  <!-- header -->
  <!-- page -->
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
  <!-- page end-->
</div>
