.ad {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px solid blanchedalmond;
  border-radius: 2px;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-image:url('../../../../assets/images/banner4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  .btn {
    flex: 0 0 auto;
    padding: 5px 50px 5px 50px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 600;
    line-height: 42px;
    background-color: rgba(181, 33, 255, 0.85);
    color: white;
    letter-spacing: 1px;
    &:hover {
      background-color: #A807F8;
    }
  }
  .ad-close {
    position: absolute;
    right: -10px;
    top: -8px;
    color: black;
  }
}
